### Initialize PySpark et Charger les Données

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder \
    .appName("NYC_Taxi_EDA") \
    .config("spark.sql.adaptive.enabled","true") \
    .getOrCreate()
    
df = spark.read.parquet("../data/dataset.parquet")

### Overview du Dataset

In [32]:
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [33]:
print(f"Nombre de lignes : {df.count()}")
print(f"Nombre de colonnes : {len(df.columns)}")

Nombre de lignes : 3475226
Nombre de colonnes : 20

In [34]:
print(f"schema du dataset : {df.printSchema()}")

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

schema du dataset : None

In [35]:
df.describe().show()

+-------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|    trip_distance|       RatecodeID|store_and_fwd_flag|     PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|       tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|           3475226|           2935077|          3475226|          2935077|           2935077|          3475226|           3475226|           3475226|           3475226|           3475226|            3475226|           3475226|            3475226|              3475226|           3475226|             2935077|            2935077|            3475226|
|   mean|1.7854283433652949|1.2978589658806226|5.855126178843539|2.482534529758504|              NULL|165.1915757421244|164.12517689497028|1.0366229419324096| 17.08180276045484| 1.317736691081386| 0.4780990502488183|2.9598127862758044|0.44930810255221726|   0.9547945658785968|25.611291697280986|   2.225237191392253|0.12391105923285829|0.48340928043240927|
| stddev|0.4263282213054428|0.7507502754804695|564.6015996346273|11.63277200403341|              NULL|64.52948262355422| 69.40168629828547|0.7013334099485089|463.47291781729996|1.8615086824178437|0.13746226502954365| 3.779681153612477| 2.0025818139908114|   0.2781937753492549| 463.6584784502166|  0.9039932093176657|0.47250898141473596|0.36193065974945354|
|    min|                 1|                 0|              0.0|                1|                 N|                1|                 1|                 0|            -900.0|              -7.5|               -0.5|             -86.0|            -126.94|                 -1.0|            -901.0|                -2.5|              -1.75|              -0.75|
|    max|                 7|                 9|        276423.57|               99|                 Y|              265|               265|                 5|         863372.12|              15.0|               10.5|             400.0|             170.94|                  1.0|         863380.37|                 2.5|               6.75|               0.75|
+-------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+---------------------+------------------+--------------------+-------------------+-------------------+

In [36]:
df.dtypes

[('VendorID', 'int'),
 ('tpep_pickup_datetime', 'timestamp_ntz'),
 ('tpep_dropoff_datetime', 'timestamp_ntz'),
 ('passenger_count', 'bigint'),
 ('trip_distance', 'double'),
 ('RatecodeID', 'bigint'),
 ('store_and_fwd_flag', 'string'),
 ('PULocationID', 'int'),
 ('DOLocationID', 'int'),
 ('payment_type', 'bigint'),
 ('fare_amount', 'double'),
 ('extra', 'double'),
 ('mta_tax', 'double'),
 ('tip_amount', 'double'),
 ('tolls_amount', 'double'),
 ('improvement_surcharge', 'double'),
 ('total_amount', 'double'),
 ('congestion_surcharge', 'double'),
 ('Airport_fee', 'double'),
 ('cbd_congestion_fee', 'double')]

####  Détecter les Valeurs Manquantes et Zéros Anormaux

In [37]:
missing_counts = df.select([
    count(when(col(c).isNull(), c)).alias(c)
    for c in df.columns
])

print(missing_counts)

DataFrame[VendorID: bigint, tpep_pickup_datetime: bigint, tpep_dropoff_datetime: bigint, passenger_count: bigint, trip_distance: bigint, RatecodeID: bigint, store_and_fwd_flag: bigint, PULocationID: bigint, DOLocationID: bigint, payment_type: bigint, fare_amount: bigint, extra: bigint, mta_tax: bigint, tip_amount: bigint, tolls_amount: bigint, improvement_surcharge: bigint, total_amount: bigint, congestion_surcharge: bigint, Airport_fee: bigint, cbd_congestion_fee: bigint]

##### POURCENTAGE DE VALEURS MANQUANTES:

In [38]:
total_rows = df.count()
print("POURCENTAGE DE VALEURS MANQUANTES:")
for col_name in df.columns:
    missing_count = df.filter(col(col_name).isNull()).count()
    percentage = (missing_count / total_rows) * 100
    if percentage > 0:
        print(f"{col_name}: {percentage:.2f}%")

POURCENTAGE DE VALEURS MANQUANTES:
passenger_count: 15.54%
RatecodeID: 15.54%
store_and_fwd_flag: 15.54%
congestion_surcharge: 15.54%
Airport_fee: 15.54%

##### Zeros anormaux

In [40]:
zero_checks = [
    "passenger_count",
    "trip_distance", 
    "fare_amount",
    "total_amount",
    "RatecodeID"
]

for col_name in zero_checks:
    zero_count = df.filter(col(col_name) == 0).count()
    print(f"{col_name}: {zero_count} valeurs à zéro ({(zero_count/total_rows)*100:.2f}%)")

passenger_count: 24656 valeurs à zéro (0.71%)
trip_distance: 90893 valeurs à zéro (2.62%)
fare_amount: 1398 valeurs à zéro (0.04%)
total_amount: 559 valeurs à zéro (0.02%)
RatecodeID: 0 valeurs à zéro (0.00%)

### DÉTECTION DES DUPLICATS:

In [41]:
distinct_rows = df.distinct().count()
duplicates = total_rows - distinct_rows
print(f"   Lignes totales: {total_rows:,}")
print(f"   Lignes uniques: {distinct_rows:,}")
print(f"   Duplicats: {duplicates:,} ({(duplicates/total_rows)*100:.2f}%)")

   Lignes totales: 3,475,226
   Lignes uniques: 3,475,226
   Duplicats: 0 (0.00%)

### sauvgarder bronze df

In [43]:
df.write \
  .mode("overwrite") \
  .parquet("../data/bronze/nyc_taxi/")